$color-light: rgb(141, 157, 252);
$color-medium: rgb(90, 114, 252);
$color-dark: rgb(28, 62, 255);

$color-white: #fff;
$color-black: #000;
$color-text: #777;
$color-border: #888;
$color-grey-light-1: #f7f7f7;

$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;

$color-tertiary-light: #55c57a;
$color-tertiary-dark: #26af82;

$color-error: #dc3545;

$color-bg-dark: #333;
