.nav{
    $height: 5rem;

    &__checkbox{
        display: none;
    }

    &__checkbox:checked ~ &__background{
        transform: scale(100);
    }
    
    &__checkbox:checked ~ &__container{
        opacity: 1;
        transform: scale(1) translate(-50%, -50%);
    }
    
    &__checkbox:checked ~ &__button &__button-icon--close{
        opacity: 1;
        transform: scale(1);
        ;
    }
    
    &__checkbox:checked ~ &__button &__button-icon--open{
        transform: scale(.1);
        opacity: 0;
    }
    

    &__background{
        position: fixed;
        top: 6.5rem;
        right: 6.5rem; 
        width: $height - 1rem;
        height: $height - 1rem;
        background:
                    linear-gradient(to bottom,
                                    rgba($color-light, 1),
                                    rgba($color-medium, 1),
                                    rgba($color-dark, 1));
        background-repeat: no-repeat;
        border-radius: 100%;
        z-index: 18;
        transition: all .5s ease-in;
    }

    &__button{
        position: fixed;
        top: 6rem;
        right: 6rem;
        text-align: center;
        z-index: 20;
        background-color: $color-white;
        border-radius: 100%;
        cursor: pointer;

        // button menu
        &-icon{
            color: $color-text;
            display: block;
            line-height: $height;
            width: $height;
            aspect-ratio: 1/1;
            line-height: $height;
            transition: all .5s cubic-bezier(.58,.08,.29,1.54);
            
            // btn open
            &--open{
            font-size: 2.0rem;

            }

            // button close
            &--close{
                position: absolute;
                top: 0rem;
                right: 0rem;
                background-color: transparent;
                font-size: 2.4rem;
                transform: scale(0.1);
                opacity: 0;
            }
          }

        
    }

    &__container{
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        opacity: 0;
        transition: all .4s ease-in .2s;
        transform: scale(0.1) translate(-50%, -50%);
        transform-origin: top center;
        opacity: 0;
        z-index: 19;
        
        .nav__list{
            list-style: none;
            text-align: center;
        }

        .nav__item{
            margin-bottom: 1.4rem;
            // background-color:bisque;
            border-radius: 3rem;
            // padding: 1.4rem 2.6rem;
            width: 20rem;
            height: 4.4rem;
            font-size: 2.0rem;
            line-height: 4.4rem;
            overflow: hidden;
        }

        .nav__link{
            display: inline-block;
            transition: all .3s;

            &:link,
            &:visited{
                text-decoration: none;
                text-transform: uppercase;
                color: $color-white;
                border-radius: 3rem;
                background-image:
                                radial-gradient(
                                    83% 239% ellipse at 75% 50%, 
                                    rgba($color-white, 0.9) 50%, 
                                    rgba($color-white, 0.001) 2%);
                font-weight: 300;
                width: 100%;
                height: 100%;
                background-size: 300%;
            }
            
            &:hover,
            &:active{
                transform: translateX(1rem);
                color: $color-medium;
                background-position: 100%;
            }
        }
    }
}
