.section-popup {
  opacity: 0;
  visibility: hidden;
  transition: all 0.2s;
  .popup {
    $height: 44rem;
    @include element-center;
    width: 110rem;
    height: $height;
    background-color: white;
    border-radius: 3rem;
    overflow: hidden;
    box-shadow: 0 0 70rem 86rem rgba($color-black, 0.5);

    opacity: 0;
    // visibility:hidden;
    transform: scale(0.9) translate(-50%, -50%);
    transform-origin: top center;
    transition: all 0.5s;
    &-left {
      width: 100%;
      height: $height;
      &__img {
        width: 100%;
        height: 50%;
        object-fit: cover;
        object-position: center;
        margin: 0;
        transition: all 0.2s;

        &:last-child {
          margin-top: -0.4rem;
        }
      }

      &:hover img:not(:hover) {
        filter: blur(0.2rem);
      }
    }

    &-right {
      width: 100%;
      height: $height;
      padding: 0 5rem;

      // căn giữa theo chiều dọc -> sử dụng table-cell
      display: table-cell;
      vertical-align: middle;

      position: relative;

      &__times {
        position: absolute;
        top: 3rem;
        right: 3rem;
        font-size: 3rem;
        text-decoration: none;
        color: $color-text;
        transition: all 0.2s;
        &:hover {
          color: $color-medium;
        }
      }

      &__text {
        columns: 2;
        column-gap: 2.8rem;
        column-rule: 1px solid rgba($color-black, $alpha: 0.1);
        // height: 10rem;
      }
    }
  }

  &:target {
    opacity: 1;
    visibility: visible;
  }

  &:target .popup {
    opacity: 1;
    transform: scale(1) translate(-50%, -50%);
    // transform-origin: center center;
    visibility: visible;
  }
}
